<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>facsimile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FormGeneratorRunner</servlet-name>
    <servlet-class>edu.stanford.bmir.facsimile.dbq.servlets.FormGeneratorRunner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormGeneratorRunner</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormInputHandler</servlet-name>
    <servlet-class>edu.stanford.bmir.facsimile.dbq.servlets.FormInputHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormInputHandler</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>OutputFileHandler</servlet-name>
	<servlet-class>edu.stanford.bmir.facsimile.dbq.servlets.OutputFileHandler</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>OutputFileHandler</servlet-name>
	<url-pattern>/file</url-pattern>
  </servlet-mapping>
</web-app>